<div class="navbar">
  <div class="navbar-start">
    <a routerLink="/" class="h2">JOBS</a>
  </div>
  <nav class="navbar-mid">
    <a
      *ngIf="tokenservice.isUserAuthenticated()"
      routerLink="/createblogs"
      class="btn btn-link"
      >Create Blog</a
    >
    <a routerLink="/blogs" class="btn btn-link">Blogs</a>
    <a routerLink="/courses" class="btn btn-link">Courses</a>
    <a routerLink="/jobs" class="btn btn-link">Jobs</a>
    <a
      *ngIf="tokenservice.isAdmin()"
      routerLink="/add-course"
      class="btn btn-link"
      >Add Course</a
    >
    <a
      *ngIf="tokenservice.isRecruiter()"
      routerLink="/createjobs"
      class="btn btn-link"
      >Add Job</a
    >
  </nav>
  <div class="navbar-end">
    <a
      *ngIf="!tokenservice.isUserAuthenticated()"
      class="btn btn-outline"
      routerLink="/login"
      >Login</a
    >
    <a
      *ngIf="!tokenservice.isUserAuthenticated()"
      class="btn btn-solid"
      routerLink="/register"
      >Register</a
    >
    <a
      *ngIf="tokenservice.isUserAuthenticated()"
      [routerLink]="['/showuserbyid/', currentUser.UserID]"
      class="link"
    >
      <img
        class="profile-img"
        src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v937-aew-111_3.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8ce2cd03f94f2baddcb332cfb50f78b9"
        alt="avatar"
      />
    </a>
    <button
      *ngIf="tokenservice.isUserAuthenticated()"
      class="btn btn-outline"
      (click)="logOut()"
    >
      Log Out
    </button>
  </div>
</div>
