.container {
  gap: 2rem;
}

.form input,
.form textarea {
  border: 0;
  background-color: #fafafa;
}

#blogContent {
  height: 500px;
}

.buttons {
  width: 100%;
  gap: 0.5rem;
  margin-top: 2rem;
}

.btn-submit {
  width: 100%;
  font-size: 1.25rem;
}

.markdown-rules {
  padding: 1rem;
  gap: 1rem;
}

.markdown-rules > img {
  width: 75%;
  object-fit: contain;
  border-radius: 4px;
}
