<main class="container">
  <section class="head flex flex-col align-center">
    <aside class="flex flex-col align-center" style="gap: 1rem">
      <img
        src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v937-aew-111_3.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8ce2cd03f94f2baddcb332cfb50f78b9"
        alt="avatar"
      />
      <p class="h1">
        {{ user.role }}
        <a
          class="red-text"
          routerLink="/updateuser"
          *ngIf="currentUser.UserID == user.userID"
          >🖌</a
        >
      </p>
    </aside>
    <aside class="details flex flex-col align-start">
      <p class="lead">
        <span style="font-weight: 600">User Name: </span> {{ user.userName }}
      </p>
      <p class="lead">
        <span style="font-weight: 600">Full Name: </span> {{ user.fullName }}
      </p>
      <p class="lead">
        <span style="font-weight: 600">Email Id: </span> {{ user.emailId }}
      </p>
      <p class="lead">
        <span style="font-weight: 600">Mobile Number: </span>
        {{ user.mobileNumber }}
      </p>
    </aside>
  </section>
</main>
