<section class="container" id="login-form">
  <p class="h3" style="text-align: center">Create Blog</p>
  <form
    class="form"
    #blogForm="ngForm"
    (ngSubmit)="editId ? editBlog(blogForm) : createBlog(blogForm)"
  >
    <div class="form-group">
      <input
        type="text"
        id="blogTitle"
        [(ngModel)]="blog.blogTitle"
        name="blogTitle"
        placeholder="Blog Title"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        id="blogDescription"
        [(ngModel)]="blog.blogDescription"
        name="blogDescription"
        placeholder="Blog Description"
      />
    </div>
    <div class="form-group">
      <textarea
        id="blogContent"
        [(ngModel)]="blog.blogContent"
        name="blogContent"
        placeholder="Blog Content"
      ></textarea>
    </div>
    <div class="form-group">
      <input
        type="text"
        id="blogTags"
        [(ngModel)]="blog.blogTags"
        name="blogTags"
        placeholder="Relevant Tags"
      />
    </div>
    <button
      *ngIf="!editId"
      class="btn btn-outline btn-submit"
      type="submit"
      [disabled]="!blogForm.valid"
    >
      Create Blog
    </button>
    <button
      *ngIf="editId"
      class="btn btn-outline btn-submit"
      type="submit"
      [disabled]="!blogForm.valid"
    >
      Edit Blog
    </button>
  </form>
</section>
