<div class="container">
    <form class="blog-form" #blogForm="ngForm" (ngSubmit)="createBlog(blogForm)">
      <h2 class="form-signin-heading">Create Blog</h2>
      <div class="text-danger">{{error}}</div>
      <div class="form-group">
        <label for="blogTitle" class="sr-only">Title</label>
        <input
          type="text"
          id="blogTitle"
          [(ngModel)]="blog.blogTitle"
          name="blogTitle"
          class="form-control"
          placeholder="Title"
        />
      </div>
      <div class="form-group">
        <label for="blogDescription" class="sr-only">Desc</label>
        <input
          type="text"
          id="blogDescription"
          [(ngModel)]="blog.blogDescription"
          name="blogDescription"
          class="form-control"
          placeholder="Desc"
        />
      </div>
      <div class="form-group">
        <label for="blogContent" class="sr-only">Content</label>
        <input
          type="text"
          id="blogContent"
          [(ngModel)]="blog.blogContent"
          name="blogContent"
          class="form-control"
          placeholder="Content"
        />
      </div>
      <div class="form-group">
        <label for="blogTags" class="sr-only">Tags</label>
        <input
          type="text"
          id="blogTags"
          [(ngModel)]="blog.blogTags"
          name="blogTags"
          class="form-control"
          placeholder="Tags"
        />
      </div>
      <div class="form-group">
        <label for="blogCategory" class="sr-only">Category</label>
        <input
          type="text"
          id="blogCategory"
          [(ngModel)]="blog.blogCategory"
          name="blogCategory"
          class="form-control"
          placeholder="Category"
        />
      </div>
      <div class="form-group">
        <label for="company" class="sr-only">Company</label>
        <input
          type="text"
          id="company"
          [(ngModel)]="blog.company"
          name="company"
          class="form-control"
          placeholder="Company"
        />
      </div>
      <button class="btn btn-lg btn-primary" type="submit" [disabled]="!blogForm.valid">Register</button>
    </form>
  </div>
  