<section *ngIf="!this.error" class="container" id="login-form">
  <p class="h3" style="text-align: center">Edit Job</p>
  <p class="x-small red-text">* Fileds are mandatory</p>
  <form class="form" #form="ngForm" (ngSubmit)="editJob(form)">
    <div class="form-group">
      <input
        name="title"
        type="text"
        id="title"
        placeholder="* Enter job Title"
        [(ngModel)]="newjob.title"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="description"
        type="text"
        id="description"
        placeholder="*Enter job Description"
        [(ngModel)]="newjob.description"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="company"
        type="text"
        id="company"
        placeholder="* Enter Company Name"
        [(ngModel)]="newjob.company"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="salary_min"
        type="number"
        id="salary_min"
        placeholder="* Minimum Salary"
        [(ngModel)]="newjob.salary_min"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="salary_max"
        type="number"
        id="salary_max"
        placeholder="* Maximum Salary"
        [(ngModel)]="newjob.salary_max"
        required
      />
    </div>

    <div class="form-group">
      <select
        [(ngModel)]="newjob.categoryid"
        [ngModelOptions]="{ standalone: true }"
        required
      >
        <option value="default">* ---Select---</option>
        <option *ngFor="let role of categoryList" [ngValue]="role.id">
          {{ role.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <select
        [(ngModel)]="newjob.cityid"
        [ngModelOptions]="{ standalone: true }"
        required
      >
        <option value="default">* ---Select---</option>
        <option *ngFor="let city of cityList" [ngValue]="city.id">
          {{ city.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <input
        name="redirect_url"
        type="text"
        id="redirect_url"
        placeholder="* Enter job URL"
        [(ngModel)]="newjob.redirect_url"
        required
      />
    </div>

    <button
      type="submit"
      class="btn btn-outline btn-submit"
      [disabled]="newjob.salary_min > newjob.salary_max && !form.valid"
    >
      Submit
    </button>
    <button
      *ngIf="tokenservice.isRecruiter()"
      type="button"
      class="btn btn-solid btn-submit"
      (click)="deleteJob(newjob.id)"
    >
      Delete
    </button>
  </form>
</section>

<app-servererror *ngIf="this.error"></app-servererror>
