<section *ngIf="!this.error" class="container" id="loginform">
  <p class="h3" style="text-align: center">Create A Job</p>
  <p class="x-small red-text">* Fields are mandatory</p>
  <form class="form " #form="ngForm" (ngSubmit)="createJobs(form)">
    <div class="form-group">
      <input
        name="title"
        type="text"
        id="title"
        placeholder="* Enter Job Title"
        [(ngModel)]="newjob.title"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="description"
        type="text"
        id="description"
        placeholder="* Enter job Description"
        [(ngModel)]="newjob.description"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="company"
        type="text"
        id="company"
        placeholder="* Enter Company Name"
        [(ngModel)]="newjob.company"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="salary_min"
        type="text"
        id="salary_min"
        placeholder="* Minimum Salary"
        [(ngModel)]="newjob.salary_min"
        required
      />
    </div>
    <div class="form-group">
      <input
        name="salary_max"
        type="text"
        id="salary_max"
        placeholder="* Maximum Salary"
        [(ngModel)]="newjob.salary_max"
        required
      />
    </div>
    <div style="color:red" *ngIf="newjob.salary_min > newjob.salary_max">Maximum salary should be greater than minimum salary</div>
    <div class="form-group">
      <select
        [(ngModel)]="newjob.categoryid"
        [ngModelOptions]="{ standalone: true }"
        required
      >
        <option value="default">* ---Select---</option>
        <option *ngFor="let role of categoryList" [ngValue]="role.id">
          {{ role.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <select
        [(ngModel)]="newjob.cityid"
        [ngModelOptions]="{ standalone: true }"
        required
      >
        <option value="default">* ---Select---</option>
        <option *ngFor="let city of cityList" [ngValue]="city.id">
          {{ city.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <input
        name="redirect_url"
        type="text"
        id="redirect_url"
        placeholder="* Enter job URL"
        [(ngModel)]="newjob.redirect_url"
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-outline btn-submit"
      [disabled]="+newjob.salary_min > +newjob.salary_max && !form.valid"
    >
      Create Job
    </button>
  </form>
</section>

<app-servererror *ngIf="this.error"></app-servererror>
