    <div>
        <div class="container">
         
        <form #editForm="ngForm" (ngSubmit)="editUser(editForm)">
          <h2 class="form-signin-heading">Update User Details</h2>
          <div class="text-success">{{data}}</div>
          <div class="text-danger">
            <span [innerHTML]="error"></span>
          </div>
            <br/>
            <br/>
            <img [src] = "user.photographLink" alt = "{{user.photographLink}}" class= "border border-dark" width="150px" height = "150px">
            <br/>
            <br/>
            <div class="image-upload">
              Upload Photograph:
              <input name="imageUrl" type="file" accept="image/*" (change)="onFileSelected($event)" />
          </div>     
            <div hidden>
              <label for="userid" class="sr-only">UserID</label>
                <input type="number" id="userid" name="userid " [(ngModel)]="user.userID" 
                  class="form-control" placeholder="userid" required>
              <label for="password" class="sr-only">Password</label>
                  <input type="text" id="Password" name="Password " [(ngModel)]="user.password" 
                    class="form-control" placeholder="Password" required>
                    <label for="Salt" class="sr-only">Salt</label>
                    <input type="text" id="Salt" name="Salt" [(ngModel)]="user.salt" 
                      class="form-control" placeholder="Salt" required>
              <br/>
              </div> 
            <label for="FullName" class="sr-only">FullName</label>
            <input type="text" id="FullName" name="FullName " [(ngModel)]="user.fullName" 
              class="form-control" placeholder="FullName" required>
            <br/>
            <label for="username" class="sr-only">UserName</label>
            <input type="text" id="UserName" name="UserName " [(ngModel)]="user.userName" 
              class="form-control" placeholder="UserName" required disabled>
            <br/>
            <label for="EmailId" class="sr-only">EmailId</label>
            <input type="text" id="EmailId" name="EmailId" [(ngModel)]="user.emailId" 
              class="form-control" placeholder="EmailId" required disabled>
            <br/>
            <label for="MobileNumber" class="sr-only">MobileNumber</label>
            <input type="text" id="MobileNumber" name="MobileNumber" [(ngModel)]="user.mobileNumber" 
              class="form-control" placeholder="MobileNumber" required>
            <br/>
            Role<label for="Role" class="sr-only">Role</label>
            <select [(ngModel)]="user.role" name="Role" class="form-control" placeholder="Role" disabled>
                <option>Applicant</option>
                <option>Recruiter</option>
                <option>Admin</option>
            </select>
            <br/>
            <div *ngIf="user.role=='Admin'||user.role==''"></div>
            <div name="Applicant" *ngIf="user.role=='Applicant'">
            <label for="Bio" class="sr-only">Bio</label>
            <input type="text" id="Bio" name="Bio" [(ngModel)]="user.bio" 
              class="form-control" placeholder="Bio" required>
            <br/>
            <label for="LinkedInProfileLink" class="sr-only">LinkedInProfileLink</label>
            <input type="text" id="LinkedInProfileLink" name="LinkedInProfileLink" [(ngModel)]="user.linkedInProfile" 
              class="form-control" placeholder="LinkedInProfileLink">
            <br/>
            <div class="form-group form-check">
                Are You Experienced???
                <input type="checkbox" class="form-check-input"  id="WorkStatus" name="WorkStatus" [(ngModel)]="user.workStatus" 
                class="form-control" placeholder="Are You Experienced???">
            </div>
            <br/>
            <div name="Experienced"  *ngIf="user.workStatus">
            <label for="CurrentSalary" class="sr-only">CurrentSalary</label>
            <input type="text" id="CurrentSalary " name="CurrentSalary " [(ngModel)]="user.currentSalary" 
              class="form-control" placeholder="CurrentSalary" required>
            <br/>
            </div>
            <label for="ExpectedSalary" class="sr-only">ExpectedSalary</label>
            <input type="text" id="ExpectedSalary" name="ExpectedSalary" [(ngModel)]="user.expectedSalary" 
              class="form-control" placeholder="ExpectedSalary" required>
            <br/>
            <label for="CurrentLocation" class="sr-only">CurrentLocation</label>
            <input type="text" id="CurrentLocation" name="CurrentLocation" [(ngModel)]="user.currentLocation" 
              class="form-control" placeholder="CurrentLocation" required>
            <br/>
            <label for="PreferredLocation" class="sr-only">PreferredLocation</label>
            <input type="text" id="PreferredLocation" name="PreferredLocation" [(ngModel)]="user.preferredLocation" 
              class="form-control" placeholder="PreferredLocation" required>
            <br/>
            </div>
            <div name="Recruiter" *ngIf="user.role=='Recruiter'">
            <label for="CompanyName" class="sr-only">CompanyName</label>
            <input type="text" id="CompanyName" name="CompanyName" [(ngModel)]="user.companyName" 
              class="form-control" placeholder="CompanyName" required>
            <br/>
            <label for="RecruiterDescription" class="sr-only">Description</label>
            <input type="text" id="RecruiterDescription" name="RecruiterDescription" [(ngModel)]="user.recruiterDescription" 
              class="form-control" placeholder="Description" required>
            <br/>
            </div>
            
              <button type="button" class="btn  btn-lg btn-primary" type="submit" [disabled]="!editForm.valid" >Update</button>
        </form>
      </div>    
    </div>
