<section *ngIf="!this.error" class="container" id="login-form">
  <p class="h3" style="text-align: center">Create A Course</p>
  <form class="form" #form="ngForm" (ngSubmit)="addCourse()">
    <p class="x-small red-text">* Fileds are mandatory</p>
    <div class="form-group">
      <input
        type="text"
        id="courseName"
        name="courseName"
        [(ngModel)]="addCourseRequest.courseName"
        placeholder="* Course Name"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        id="courseCategory"
        name="courseCategory"
        [(ngModel)]="addCourseRequest.courseCategory"
        placeholder="Course Category"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        id="courseDescription"
        name="courseDescription"
        [(ngModel)]="addCourseRequest.courseDescription"
        placeholder="* Course Description"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        id="courseAuthor"
        name="courseAuthor"
        [(ngModel)]="addCourseRequest.courseAuthor"
        placeholder="* Course Author"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        id="courseImage"
        name="courseImage"
        [(ngModel)]="addCourseRequest.courseImage"
        placeholder="* Course Cover Image Link"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        id="courseVideoURL"
        name="courseVideoURL"
        [(ngModel)]="addCourseRequest.courseVideoURL"
        placeholder="* Course Video URL"
        required
      />
    </div>

    <button
      type="submit"
      class="btn btn-outline btn-submit"
      [disabled]="!form.valid"
    >
      Submit
    </button>
  </form>
</section>

<app-servererror *ngIf="this.error"></app-servererror>
