<main *ngIf="!this.error" class="container" id="login-form">
  <form class="form" #editForm="ngForm" (ngSubmit)="editUser(editForm)">
    <p class="h3" style="text-align: center">PROFILE UPDATE</p>
    <p class="x-small red-text">* Fields are mandatory</p>
    <div class="form-group">
      <input
        type="text"
        id="FullName"
        name="FullName "
        [(ngModel)]="user.fullName"
        placeholder="* FullName"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        id="UserName"
        name="UserName "
        [(ngModel)]="user.userName"
        placeholder="* UserName"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        id="EmailId"
        name="EmailId"
        [(ngModel)]="user.emailId"
        placeholder="* EmailId"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        id="MobileNumber"
        name="MobileNumber"
        [(ngModel)]="user.mobileNumber"
        placeholder="* MobileNumber"
        required
      />
    </div>
    <div class="form-group">
      <select [(ngModel)]="user.role" name="Role" class="form-control" disabled>
        <option>Admin</option>
        <option>Applicant</option>
        <option>Recruiter</option>
      </select>
    </div>
    <div class="grp" *ngIf="user.role === 'Applicant'">
      <div class="form-group flex align-center justify-start exp">
        <p class="h5">Are You Experienced???</p>
        <input
          type="checkbox"
          id="WorkStatus"
          name="WorkStatus"
          [(ngModel)]="user.workStatus"
        />
      </div>
      <div class="form-group" *ngIf="user.workStatus == true">
        <input
          type="text"
          id="CurrentSalary"
          name="CurrentSalary"
          [(ngModel)]="user.currentSalary"
          placeholder="* Current Salary"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="ExpectedSalary"
          name="ExpectedSalary"
          [(ngModel)]="user.expectedSalary"
          placeholder="* Expected Salary"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="CurrentLocation"
          name="CurrentLocation"
          [(ngModel)]="user.currentLocation"
          placeholder="* Current Location"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="PreferredLocation"
          name="PreferredLocation"
          [(ngModel)]="user.preferredLocation"
          placeholder="* Preferred Location"
          required
        />
      </div>
    </div>
    <div class="grp" *ngIf="user.role == 'Recruiter'">
      <div class="form-group">
        <input
          type="text"
          id="CompanyName"
          name="CompanyName"
          [(ngModel)]="user.companyName"
          placeholder="* Company Name"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="RecruiterDescription"
          name="RecruiterDescription"
          [(ngModel)]="user.recruiterDescription"
          placeholder="* Description"
          required
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-outline btn-submit"
      [disabled]="!editForm.valid"
    >
      Update Profile
    </button>
  </form>
</main>

<app-servererror *ngIf="this.error"></app-servererror>
