<!-- <p>goto-course works!</p> -->

<!-- <h1>{{courseDetails|json}}</h1> -->
<!-- 
<div class="card bg-dark text-white">
    <img src="{{courseDetails.courseImage}}" class="card-img" alt="Stony Beach"/>
    <img src="{{courseDetails.courseImage}}" class="bg-secondary" alt="Stony Beach"/>
    <div class="card-img-overlay">
      <h1 class="card-title">{{courseDetails.courseName}}</h1>
      <h2 class="card-text">{{courseDetails.courseCategory}}</h2>
      <p class="card-text">
        {{courseDetails.courseDescription}}
      </p>
      <p class="card-text">{{courseDetails.courseAuthor}}</p>
      <p class="card-text">{{courseDetails.courseAmount | currency}}</p>
      <a href="{{courseDetails.courseVideoURL}}" class="btn btn-outline-success">Go to Course</a>
    </div>
  </div> -->















  <section style="background-color: lightblue;">
    <div class="container py-5" >
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-12 col-xl-12">
          <div class="card" style="border-radius: 15px; ">
            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="{{courseDetails.courseImage}}"
                style="border-top-left-radius: 15px;  border-top-right-radius: 15px;" class="img-fluid"
                alt="Laptop" />
              <a href="#!">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <div>
                  <h1 class="text-danger"> {{courseDetails.courseName}}</h1>
                  <h6 class="text-dark">{{courseDetails.courseCategory}}</h6>
                </div>
                <div>
                  <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <!-- <h3>{{courseDetails.courseAmount | currency}}</h3>  -->
                </div>
              </div>
            </div>
            <hr class="my-0" />
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h5  class="text-danger">Course Description :</h5>
                <!-- <p class="text-dark">#### 8787</p> -->
              </div>
              <p class="text-dark">{{courseDetails.courseDescription}}</p>
            </div>
            <hr class="my-0" />
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                <!-- <a href="#!" class="text-dark fw-bold">Cancel</a> -->
                <div class="d-flex justify-content-between">
                    <h5 class="text-danger"> Course Author   :</h5>
                    <p class="text-dark"> &nbsp; {{courseDetails.courseAuthor}}</p>
                    <!-- <p class="text-dark">#### 8787</p> -->
                  </div>
                  <!-- <p class="small text-muted">{{courseDetails.courseAuthor}}</p> -->
                <button type="button" class="btn btn-primary">Goto Course</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>