<section *ngIf="!this.error" class="container" id="login-form">
  <p class="h3" style="text-align: center">Forgot Password</p>
  <form
    class="form"
    #UpdateForm="ngForm"
    (ngSubmit)="update(credentials.Password, otp)"
  >
    <div class="form-group">
      <input
        type="text"
        id="UserName"
        name="UserName "
        [(ngModel)]="credentials.UserName"
        placeholder="UserName"
        required
      />
    </div>
    <button
      class="btn btn-outline btn-submit"
      type="button"
      (click)="getuserbyusername(credentials.UserName)"
    >
      Generate OTP
    </button>
    <div *ngIf="user">
      <div class="form-group">
        <input
          type="text"
          id="OTP"
          name="OTP"
          [(ngModel)]="otp"
          placeholder="Enter OTP"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="credentials.Password"
          placeholder="New Password"
          required
        />
      </div>
      <button type="submit" class="btn btn-outline btn-submit">Change</button>
    </div>
  </form>
</section>

<section *ngIf="this.error" class="loading">
  <img
    src="https://media4.giphy.com/media/0Dxuk20eU0bDYaxRR8/giphy.gif"
    alt="server error"
  />
</section>
