<section *ngIf="!this.error" class="container" id="login-form">
  <p class="h3" style="text-align: center">REGISTER</p>
  <p class="x-small red-text">* Fileds are mandatory</p>
  <form class="form" #registerForm="ngForm">
    <div class="form-group">
      <input
        type="text"
        id="FullName"
        name="FullName "
        [(ngModel)]="user.fullName"
        placeholder="* FullName"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        id="UserName"
        name="UserName "
        [(ngModel)]="user.userName"
        placeholder="* UserName"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        id="EmailId"
        name="EmailId"
        [(ngModel)]="user.emailId"
        placeholder="* EmailId"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        id="MobileNumber"
        name="MobileNumber"
        [(ngModel)]="user.mobileNumber"
        placeholder="* MobileNumber"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        class="form-control"
        placeholder="* Password"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        id="confirmpassword"
        name="confirmpassword"
        [(ngModel)]="confirmpassword"
        class="form-control"
        placeholder="* Confirm Password"
        required
      />
    </div>
    <div class="form-group">
      <select [(ngModel)]="user.role" name="Role" class="form-control" required>
        <option>Applicant</option>
        <option>Recruiter</option>
      </select>
    </div>
    <div class="grp" *ngIf="user.role === 'Applicant'">
      <div class="form-group flex align-center justify-start exp">
        <p class="h5">Are You Experienced???</p>
        <input
          type="checkbox"
          id="WorkStatus"
          name="WorkStatus"
          [(ngModel)]="user.workStatus"
        />
      </div>
      <div class="form-group" *ngIf="user.workStatus == true">
        <input
          type="text"
          id="CurrentSalary"
          name="CurrentSalary"
          [(ngModel)]="user.currentSalary"
          placeholder="* Current Salary"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="ExpectedSalary"
          name="ExpectedSalary"
          [(ngModel)]="user.expectedSalary"
          placeholder="* Expected Salary"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="CurrentLocation"
          name="CurrentLocation"
          [(ngModel)]="user.currentLocation"
          placeholder="* Current Location"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="PreferredLocation"
          name="PreferredLocation"
          [(ngModel)]="user.preferredLocation"
          placeholder="* Preferred Location"
          required
        />
      </div>
    </div>
    <div class="grp" *ngIf="user.role == 'Recruiter'">
      <div class="form-group">
        <input
          type="text"
          id="CompanyName"
          name="CompanyName"
          [(ngModel)]="user.companyName"
          placeholder="* Company Name"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="RecruiterDescription"
          name="RecruiterDescription"
          [(ngModel)]="user.recruiterDescription"
          placeholder="* Description"
          required
        />
      </div>
    </div>
    <button
      type="button"
      class="btn btn-outline btn-submit"
      (click)="generateotp(user.emailId, user.fullName)"
      [disabled]="!user.role || !user.fullName || !user.userName || !user.emailId || !user.mobileNumber
      "
    >
      Verify Email
    </button>
    <div
      class="form-group"
      *ngIf="data == 'Otp sent Successfully to the email'"
    >
      <input
        type="text"
        id="OTP"
        name="OTP"
        [(ngModel)]="otp"
        placeholder="Enter OTP"
        required
      />
    </div>
    <div class="buttons flex align-center justify-center flex-col">
      <button
        *ngIf="data == 'Otp sent Successfully to the email' && (user.password==confirmpassword)"
        type="submit"
        class="btn btn-outline btn-submit"
        (click)="checkotp(otp)"
      >
        Verify OTP & Register
      </button>
      <button class="btn btn-link">
        Already have an account? <a routerLink="/login">Login</a>
      </button>
    </div>
  </form>
</section>

<app-servererror *ngIf="this.error"></app-servererror>

<!-- <img
      [src]="user.photographLink"
      alt="Photograph"
      class="border border-dark"
      width="150px"
      height="150px"
    />
    <br />
    <br />
    <div class="image-upload">
      Upload Photograph:
      <input
        name="imageUrl"
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
    </div> -->
