<main class="container flex align-center flex-col">
  <section class="searchbar flex align-center">
    <input
      type="search"
      [(ngModel)]="searchQuery"
      placeholder="Search by title / Search by tags ( start with #)"
      (keyup)="filterBlogs()"
    />
    <button class="btn btn-link" (click)="filterBlogs()">🍳</button>
  </section>

  <section *ngIf="!filteredBlogs" class="loading">
    <img
      src="https://thumbs.gfycat.com/ClosedCommonGoose-size_restricted.gif"
      alt="loading..."
    />
  </section>

  <section *ngIf="filteredBlogs" class="blogs">
    <app-blog *ngFor="let blog of filteredBlogs" [blog]="blog"> </app-blog>
  </section>
</main>
