<main *ngIf="!this.error" class="container flex align-center flex-col">
  <section class="searchbar flex align-center">
    <input
      type="search"
      [(ngModel)]="searchQuery"
      placeholder="Search for users..."
      (keyup)="filterUsers()"
    />
    <button class="btn btn-link" (click)="filterUsers()">🍳</button>
  </section>
    
  <app-loading *ngIf="status === 'loading'"> </app-loading>

  <app-noresult *ngIf="status === 'empty'"></app-noresult>

  <section *ngIf="status === 'loaded'" style="width: 100%;">
    <div *ngFor="let user of users" class="user-details flex align-center justify-between">
      <p class="h2">{{user.userName}}</p>
      <div class="buttons flex align-center">
        <a
            [routerLink]="['/showuserbyid/', user.userID]"
            class="btn btn-outline"
            >View</a
          >
          <button
            class="btn btn-solid"
            (click)="deleteuser(user.userID)"
          >
            Delete
          </button>
      </div>
    </div>
  </section>
</main>

<app-servererror *ngIf="this.error"></app-servererror>
