<div>
  <div class="text-success">{{ data }}</div>
  <div class="text-danger">
    <span [innerHTML]="error"></span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>FullName</td>
        <td>UserName</td>
        <td>Email ID</td>
        <td>Mobile Number</td>
        <td>Role</td>
        <td>View</td>
        <td>Delete</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.fullName }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.emailId }}</td>
        <td>{{ user.mobileNumber }}</td>
        <td>{{ user.role }}</td>
        <td>
          <a
            [routerLink]="['/showuserbyid/', user.userID]"
            class="view btn btn-primary"
            >View</a
          >
        </td>
        <td>
          <button
            class="delete btn btn-primary"
            (click)="deleteuser(user.userID)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
