<main class="container flex align-center flex-col">
  <section class="searchbar flex align-center">
    <input
      type="search"
      [(ngModel)]="searchQuery"
      placeholder="Search by course name..."
      (keyup)="filterCourses()"
    />
    <button class="btn btn-link" (click)="filterCourses()">🍳</button>
  </section>

  <section *ngIf="!filteredCourses" class="loading">
    <img
      src="https://thumbs.gfycat.com/ClosedCommonGoose-size_restricted.gif"
      alt="loading..."
    />
  </section>

  <section
    *ngIf="filteredCourses"
    class="courses flex flex-row-wrap align-center justify-center"
  >
    <app-course *ngFor="let course of filteredCourses" [course]="course">
    </app-course>
  </section>
</main>
