<main class="container flex align-center flex-col">
  <section class="searchbar flex align-center">
    <input
      type="search"
      [(ngModel)]="searchQuery"
      placeholder="Search by course name..."
      (keyup)="filterCourses()"
    />
    <button class="btn btn-link" (click)="filterCourses()">🍳</button>
  </section>

  <section class="courses flex flex-row-wrap align-center justify-center">
    <app-course *ngFor="let course of filteredCourses" [course]="course">
    </app-course>
  </section>
</main>
