<app-loading *ngIf="!this.error && !currentCourse"> </app-loading>

<main
  *ngIf="!this.error && currentCourse"
  class="container flex flex-col align-start"
>
  <p class="h1">
    {{ currentCourse.courseName }} by
    <span style="font-weight: 600">{{ currentCourse.courseAuthor }}</span>
  </p>
  <div class="yt-video flex align-center justify-center">
    <youtube-player
      videoId="{{ currentCourse.courseVideoURL }}"
      [width]="1200"
      [height]="600"
    >
    </youtube-player>
  </div>
  <div class="about flex flex-col align-start">
    <p class="h2">About this course:</p>
    <p class="lead">{{ currentCourse.courseDescription }}</p>
  </div>
  <a
    *ngIf="tokenservice.isAdmin()"
    class="btn btn-solid"
    [routerLink]="['/edit-course/', currentCourse.courseId]"
    >Edit Course</a
  >
  <button
    *ngIf="tokenservice.isAdmin()"
    class="btn btn-solid"
    (click)="deleteCourse(currentCourse.courseId)"
  >
    Delete Course
  </button>
</main>

<app-servererror *ngIf="this.error"></app-servererror>
