<div class="job-card flex flex-col align-start">
  <aside class="flex align-start justify-between">
    <p class="h4">
      {{ job.title }} @ <a href="{{ job.redirect_url }}">{{ job.company }}</a>
    </p>
    <a href="{{ job.redirect_url }}" class="btn btn-solid">Apply</a>
  </aside>
  <p class="small">{{ job.description }}</p>
  <div class="small flex flex-col align-start job-misc">
    <div>Location: {{ job.location }}</div>
    <div>Salary Range: {{ job.salary_min }} LPA - {{ job.salary_max }} LPA</div>
  </div>
</div>
