<h1>Home Page</h1>
<br>
<div *ngIf="isUserAuthenticated()" style="color:blue;">
  <h2>
    YOU ARE LOGGED IN
  </h2>
</div>
<br>
<ul>
  
  <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
  <li *ngIf="!isUserAuthenticated()"><a routerLink="/register">Register</a></li>
  <li *ngIf="isUserAuthenticated()"><a routerLink="/createblogs" class="logout">Create Blog</a></li>
  <li><a routerLink="/blogs" class="logout">Blogs</a></li>
  <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
  <li *ngIf="isUserAuthenticated()"><a routerLink="/updateuser">Update User</a></li>
  <li *ngIf="isAdmin()"><a routerLink="/showusers">View All Users</a></li>
  <li *ngIf="isAdmin()"><a routerLink="/registeradmin">Register Admin</a></li>
  <li *ngIf="!isUserAuthenticated()"><a routerLink="/forgotpwd">Forgot Password</a></li>
</ul>
